@import "tailwindcss";

@tailwind utilities;
@plugin "@midudev/tailwind-animations";

@theme {
  /*Esto es para crear variables empieza con '--'*/
}

.button {
  @apply bg-black text-white rounded hover:bg-gradient-to-r from-black via-gray-900 to-black transition active:bg-gradient-to-r from-black via-gray-900 to-black transition;
}

body {
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
